/* coloring */
/* animation stuff */
/* card variables */
/* the amount of cards, keep this amount ODD, NOT EVEN! */
/* each card's width */
/* each card's height */
/* not needed to edit */
/* not needed to edit */
.fan {
    height: 300px;
    text-align: center;
    position: relative;
    bottom: 0;
    /* cardsss */
}
.fan li {
    width: 150px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    cursor: pointer;
    border-radius: 28px;
    display: block;
    margin: 5px;
    opacity: 0;
    -webkit-perspective: 1800;
    -moz-perspective: 1800;
    perspective: 1800;
    -webkit-transition: all 750ms;
    -moz-transition: all 750ms;
    transition: all 750ms;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    /* normal states */
    /* hover states */
    /* content for the "cards" */
}
.fan li:hover {
    z-index: 8;
    -webkit-transform: scale(1.25) rotate(3deg) rotatex(-3deg) translate(-10px, -5px) !important;
    -moz-transform: scale(1.25) rotate(3deg) rotatex(-3deg) translate(-10px, -5px) !important;
    -ms-transform: scale(1.25) rotate(3deg) rotatex(-3deg) translate(-10px, -5px) !important;
    -o-transform: scale(1.25) rotate(3deg) rotatex(-3deg) translate(-10px, -5px) !important;
    transform: scale(1.25) rotate(3deg) rotatex(-3deg) translate(-10px, -5px) !important;
}
.fan li:nth-child(1) {
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    transform: rotate(-16deg);
    -webkit-animation: fadeIn 750ms 150ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 150ms ease-in-out forwards;
    animation: fadeIn 750ms 150ms ease-in-out forwards;
}
.fan li:nth-child(2) {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
    -webkit-animation: fadeIn 750ms 300ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 300ms ease-in-out forwards;
    animation: fadeIn 750ms 300ms ease-in-out forwards;
}
.fan li:nth-child(3) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: fadeIn 750ms 450ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 450ms ease-in-out forwards;
    animation: fadeIn 750ms 450ms ease-in-out forwards;
}
.fan li:nth-child(4) {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    -webkit-animation: fadeIn 750ms 600ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 600ms ease-in-out forwards;
    animation: fadeIn 750ms 600ms ease-in-out forwards;
}
.fan li:nth-child(5) {
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    transform: rotate(16deg);
    -webkit-animation: fadeIn 750ms 750ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 750ms ease-in-out forwards;
    animation: fadeIn 750ms 750ms ease-in-out forwards;
}
.fan li:nth-child(4) {
    -webkit-transform: translate(0) rotate(0deg);
    -moz-transform: translate(0) rotate(0deg);
    -ms-transform: translate(0) rotate(0deg);
    -o-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg);
    -webkit-animation: fadeIn 750ms 750ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 750ms ease-in-out forwards;
    animation: fadeIn 750ms 750ms ease-in-out forwards;
}
.fan li:nth-child(1) {
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);
    -webkit-animation: fadeIn 750ms 150ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 150ms ease-in-out forwards;
    animation: fadeIn 750ms 150ms ease-in-out forwards;
}
.fan li:nth-child(2) {
    -webkit-transform: rotate(-24deg);
    -moz-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    -o-transform: rotate(-24deg);
    transform: rotate(-24deg);
    -webkit-animation: fadeIn 750ms 300ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 300ms ease-in-out forwards;
    animation: fadeIn 750ms 300ms ease-in-out forwards;
}
.fan li:nth-child(3) {
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    transform: rotate(-16deg);
    -webkit-animation: fadeIn 750ms 450ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 450ms ease-in-out forwards;
    animation: fadeIn 750ms 450ms ease-in-out forwards;
}
.fan li:nth-child(4) {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
    -webkit-animation: fadeIn 750ms 600ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 600ms ease-in-out forwards;
    animation: fadeIn 750ms 600ms ease-in-out forwards;
}
.fan li:nth-child(5) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: fadeIn 750ms 750ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 750ms ease-in-out forwards;
    animation: fadeIn 750ms 750ms ease-in-out forwards;
}
.fan li:nth-child(6) {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    -webkit-animation: fadeIn 750ms 900ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 900ms ease-in-out forwards;
    animation: fadeIn 750ms 900ms ease-in-out forwards;
}
.fan li:nth-child(7) {
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    transform: rotate(16deg);
    -webkit-animation: fadeIn 750ms 1050ms ease-in-out forwards;
    -moz-animation: fadeIn 750ms 1050ms ease-in-out forwards;
    animation: fadeIn 750ms 1050ms ease-in-out forwards;
}
.fan li.before.prefix_1 {
    -webkit-transform: rotate(-4.4642857143deg) translate(-51px, 17px);
    -moz-transform: rotate(-4.4642857143deg) translate(-51px, 17px);
    -ms-transform: rotate(-4.4642857143deg) translate(-51px, 17px);
    -o-transform: rotate(-4.4642857143deg) translate(-51px, 17px);
    transform: rotate(-4.4642857143deg) translate(-51px, 17px);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.fan li.before.prefix_2 {
    -webkit-transform: rotate(-8.9285714286deg) translate(-81px, 27px);
    -moz-transform: rotate(-8.9285714286deg) translate(-81px, 27px);
    -ms-transform: rotate(-8.9285714286deg) translate(-81px, 27px);
    -o-transform: rotate(-8.9285714286deg) translate(-81px, 27px);
    transform: rotate(-8.9285714286deg) translate(-81px, 27px);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.fan li.before.prefix_3 {
    -webkit-transform: rotate(-13.3928571429deg) translate(-111px, 37px);
    -moz-transform: rotate(-13.3928571429deg) translate(-111px, 37px);
    -ms-transform: rotate(-13.3928571429deg) translate(-111px, 37px);
    -o-transform: rotate(-13.3928571429deg) translate(-111px, 37px);
    transform: rotate(-13.3928571429deg) translate(-111px, 37px);
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.fan li.before.prefix_4 {
    -webkit-transform: rotate(-17.8571428571deg) translate(-141px, 47px);
    -moz-transform: rotate(-17.8571428571deg) translate(-141px, 47px);
    -ms-transform: rotate(-17.8571428571deg) translate(-141px, 47px);
    -o-transform: rotate(-17.8571428571deg) translate(-141px, 47px);
    transform: rotate(-17.8571428571deg) translate(-141px, 47px);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 4;
}
.fan li.before.prefix_5 {
    -webkit-transform: rotate(-22.3214285714deg) translate(-171px, 57px);
    -moz-transform: rotate(-22.3214285714deg) translate(-171px, 57px);
    -ms-transform: rotate(-22.3214285714deg) translate(-171px, 57px);
    -o-transform: rotate(-22.3214285714deg) translate(-171px, 57px);
    transform: rotate(-22.3214285714deg) translate(-171px, 57px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 5;
}
.fan li.before.prefix_6 {
    -webkit-transform: rotate(-26.7857142857deg) translate(-201px, 67px);
    -moz-transform: rotate(-26.7857142857deg) translate(-201px, 67px);
    -ms-transform: rotate(-26.7857142857deg) translate(-201px, 67px);
    -o-transform: rotate(-26.7857142857deg) translate(-201px, 67px);
    transform: rotate(-26.7857142857deg) translate(-201px, 67px);
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.25);
    z-index: 6;
}
.fan li.after.prefix_1 {
    -webkit-transform: rotate(4.4642857143deg) translate(51px, 17px);
    -moz-transform: rotate(4.4642857143deg) translate(51px, 17px);
    -ms-transform: rotate(4.4642857143deg) translate(51px, 17px);
    -o-transform: rotate(4.4642857143deg) translate(51px, 17px);
    transform: rotate(4.4642857143deg) translate(51px, 17px);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.fan li.after.prefix_2 {
    -webkit-transform: rotate(8.9285714286deg) translate(81px, 27px);
    -moz-transform: rotate(8.9285714286deg) translate(81px, 27px);
    -ms-transform: rotate(8.9285714286deg) translate(81px, 27px);
    -o-transform: rotate(8.9285714286deg) translate(81px, 27px);
    transform: rotate(8.9285714286deg) translate(81px, 27px);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 0.2857142857;
}
.fan li.after.prefix_3 {
    -webkit-transform: rotate(13.3928571429deg) translate(111px, 37px);
    -moz-transform: rotate(13.3928571429deg) translate(111px, 37px);
    -ms-transform: rotate(13.3928571429deg) translate(111px, 37px);
    -o-transform: rotate(13.3928571429deg) translate(111px, 37px);
    transform: rotate(13.3928571429deg) translate(111px, 37px);
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.25);
    z-index: 1.5714285714;
}
.fan li.after.prefix_4 {
    -webkit-transform: rotate(17.8571428571deg) translate(141px, 47px);
    -moz-transform: rotate(17.8571428571deg) translate(141px, 47px);
    -ms-transform: rotate(17.8571428571deg) translate(141px, 47px);
    -o-transform: rotate(17.8571428571deg) translate(141px, 47px);
    transform: rotate(17.8571428571deg) translate(141px, 47px);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 2.8571428571;
}
.fan li.after.prefix_5 {
    -webkit-transform: rotate(22.3214285714deg) translate(171px, 57px);
    -moz-transform: rotate(22.3214285714deg) translate(171px, 57px);
    -ms-transform: rotate(22.3214285714deg) translate(171px, 57px);
    -o-transform: rotate(22.3214285714deg) translate(171px, 57px);
    transform: rotate(22.3214285714deg) translate(171px, 57px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 4.1428571429;
}
.fan li.after.prefix_6 {
    -webkit-transform: rotate(26.7857142857deg) translate(201px, 67px);
    -moz-transform: rotate(26.7857142857deg) translate(201px, 67px);
    -ms-transform: rotate(26.7857142857deg) translate(201px, 67px);
    -o-transform: rotate(26.7857142857deg) translate(201px, 67px);
    transform: rotate(26.7857142857deg) translate(201px, 67px);
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.25);
    z-index: 5.4285714286;
}
.fan li .content {
    height: 100.5px;
    line-height: 100.5px;
    color: #F1EDDC;
    font-size: 40px;
}
.fan li .flip {
    width: 150px;
    height: 300px;
    position: relative;
    -webkit-perspective: 1800;
    -moz-perspective: 1800;
    perspective: 1800;
}
.fan li .flip .card {
    width: 150px;
    height: 300px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 375ms;
    -moz-transition: all 375ms;
    transition: all 375ms;
}
.fan li .flip .card.flipped {
    -webkit-transform: rotateX(-190deg);
    -moz-transform: rotateX(-190deg);
    -ms-transform: rotateX(-190deg);
    -o-transform: rotateX(-190deg);
    transform: rotateX(-190deg);
}
.fan li .flip .card .face {
    width: 150px;
    height: 300px;
    position: absolute;
    z-index: 99;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 1px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.55);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.fan li .flip .card .face.front {
    position: absolute;
    z-index: 1;
    color: #F1EDDC;
    cursor: pointer;
}
.fan li .flip .card .face.back {
    background: #F1EDDC;
    color: #000;
    cursor: pointer;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}