@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@plugin "@tailwindcss/forms";

@import "../fonts/stylesheet.css";

body {
    font-family: 'ITC Novarese Std', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel Decorative', Arial, sans-serif !important;
}

.text-cinzel,
.font-cinzel-decorative {
    font-family: 'Cinzel Decorative', Arial, sans-serif !important;
}

.article {
    color: rgb(90, 90, 90);
    font-family: 'ITC Novarese Std', serif;
}

.article p {
    margin-bottom: 10px;
}

.article li {
    margin-left: 20px;
    list-style-type: disc;
    font-size: 16px;
    margin-bottom: 5px;
}

.article strong {
    font-weight: 900;
    color: #0a4b83 !important;
}

.article h2 {
    font-family: 'Cinzel Decorative', Arial, sans-serif !important;
    color: var(--color-red-800) !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    margin-bottom: 5px;
}

.vue-music-flow {
    .mw\:fixed {
        z-index: 100 !important;
        height: 80px !important;
    }
}

.vue-music-flow .mw\:font-semibold {
    font-weight: normal !important;
}

@media (min-width: 40rem) {
    .vue-music-flow .mw\:phone\:\[grid-template-areas\:\'image_metadata_controls_volume_actions\'_\'currentDuration_waveform_waveform_waveform_endDuration\'\] {
        grid-template-areas: "image metadata controls volume actions currentDuration endDuration";
    }
}

.vue-music-flow {
    --mw-color-mw-primary-dark: #030712;
    --mw-color-mw-primary: #1c398e;
    --mw-color-mw-secondary: #1c398e;
    --mw-color-mw-primary-border: #1c398e;
    --mw-color-mw-primary-hover: #ff2600;
    --mw-color-mw-primary-active: #ff2600;
    --mw-color-mw-primary-typography: #fafafa;
    --mw-color-mw-secondary-typography: #a1a1a1;
    --scroll-bar-background-light: #f8fafc;
    --scroll-bar-background: #1d293d;
    --scroll-bar-slider: #8e51ff;
}